snippet slide
	<section>
		${1}
	</section>
snippet slideh
	<section>
		<h${1:2}>${2}</h$1>
	</section>
snippet slidep
	<section>
		<p>${1}</p>
	</section>
snippet phpcode
	<pre><code data-trim contenteditable class="php">
	${1}
	</code></pre>
